.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.vovere {
    color: pink;
}

.katinai {
    list-style: none;
    color: #61dafb;
}

.color-mark {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: transparent;
}

.nice-circle {
    width: 77px;
    height: 77px;
    border-radius: 50%;
}

.tr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid gray;
}

.bl {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 1px solid gray;
}

h3 {
    color: pink;
    color: darkmagenta
}

.rcolor {
    width: 100vw;
    height: 33px;
}

.lake {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #61dafb;
    border-radius: 50%;
}

.blue-square {
    width: 40px;
    height: 40px;
    background-color: darkblue;
}